<div class="container" >
     <div class="row">
         <div class="col-md-8 mx-auto mt-5">
         <%= form_tag url_for(action: "create"), method: "post" do |f| %>
       <%= label_tag 'Start_Date' %>
       <%= text_field_tag 'start_date', @event.start_date, class: 'form-control'%>
       <%= label_tag 'Duration' %>
       <%= text_field_tag 'duration', @event.duration, class: 'form-control'%>
       <%= label_tag 'Location' %>
       <%= text_field_tag 'location', @event.location, class: 'form-control'%>
       <%= label_tag 'Title' %>
       <%= text_field_tag 'title', @event.title, class: 'form-control'%>
       <%= label_tag 'Description' %>
       <%= text_field_tag 'description', @event.description, class: 'form-control'%>
       <%= label_tag 'Price' %>
       <%= text_field_tag 'price', @event.price, class: 'form-control'%>
       <br/>
       <%= submit_tag "Modify event", class: 'btn btn-lg btn-primary btn-block' %>
     <% end %>
         </div>
     </div>
 </div>